.Typewriter{
    overflow: hidden;
    /* white-space: nowrap; */
    font-size: 28px; /* Kích thước chữ */
    display: inline-block;
    padding : 0 20px 0 20px;
}
/* chat-widget#\36 6687488c31729273c1946a7 {
    display: none !important;
} */